[Unit]
Description=pprotein-agent

[Service]
ExecStart=/home/isucon/tools/bin/pprotein-agent
WorkingDirectory=/home/isucon/tools
Environment=PATH=$PATH:/usr/local/bin
Restart=always
User=root

[Install]
WantedBy=multi-user.target