[Unit]
Description=pprotein

[Service]
ExecStart=/home/ec2-user/pprotein
WorkingDirectory=/home/ec2-user
Environment=PATH=$PATH:/home/ec2-user:/usr/local/bin
Restart=always
User=root

[Install]
WantedBy=multi-user.target